[submodule "maps-scripts"]
	path = maps-scripts
	url = https://github.com/DDNetPP/maps-scripts.git
[submodule "maps-themes"]
	path = maps-themes
	url = git@github.com:fddrace/maps-themes.git
[submodule "http-maps"]
	path = http-maps
	url = git@github.com:fddrace/http-maps.git
